<section class="content-header">
  <h1>
    <%= page.name %>
    <small><%= page.subname %> </small>
  </h1>
  <ol class="breadcrumb">

    <% for(var i=0; i < page.path.length ; i++) {%>
      <li>
        <%if ( i === 0) { %>
        <i class="fa fa-dashboard"></i>
        <% } %>

        <%= page.path[i] %>
      </li>
    <% } %>
  </ol>
</section>
