.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.FloatingMenuBox {

  &.black {
    background-color: #222;
    color:#fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    > .header {
      background-color: #555;
    }

    > .body {

      > ul {

        > li {
          background-color: #222;

          transition: background-color 0.5s ease;

          &:hover {
            background-color: #333;
          }

          &:active {
            background-color: #111;
          }
        }
      }
    }
  }


  position:fixed;
  z-index: 9;
  left:400px;
  top:100px;

  > .header {
    width:100%;
    padding:10px;
    box-sizing: border-box;
    font-size:13px;

    cursor: default;

    .noselect;
  }

  > .body {
    position: relative;
    width:100%;

    > ul {
      position: relative;
      padding:0px;
      margin: 0px;
      width:100%;

      > li {
        width:100%;
        padding:10px;
        box-sizing: border-box;

        font-size:12px;

        cursor:pointer;

        .noselect;
      }
    }
  }
}