/*
 * Base variable
 */
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;

@menuHoverColor: #fff;
@menuFontHoverColor: #6F6F6F;
@fontColor: #6F6F6F;
@titleBgColor: #bbb;

#ui-modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  z-index: 10;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal {
    position: relative;
    margin: 10% auto;
    width: 500px;
    .modalHeader {
      height: 16px;
      border-bottom: solid 2px;
      background-color: #000;
      .close {
        margin-left: 96%;
        color: #aaa;
        text-decoration: none;
        font-weight: bold;
      }
      .close:hover {
        color: #fff;
      }
    }
    .modalBody {
      background: #fff;
      .testModal {
        height: 300px;
      }
    }
  }
}