<!--
@Settings

@env_include_sync "/service-static/admin/plugins/datepicker/datepicker3.css";

@env_include_sync "/service-static/admin/plugins/datepicker/datepicker32.css";

@End
-->

<div class="box box-default" >
  <en:value name='server-message' type='string' value=''></en:value>
  <div class="box-header with-border">
    <i class="fa fa-plane"></i>

    <h2 class="box-title"> Console </h2>
  </div>

  <!-- /.box-header -->
  <pre class="box-body bg-black"  en-io-on='{{: prop@listen-names }}' en-event-io-received='{{ func@update_message( feature@event ) }}'
            style='width:100%;max-width:100%; max-height:500px; overflow:auto;'>
      <script type='text/x-javascript' en-scope-type='function' name='update_message'>
      return function(_event){
        var dom = this.getDOMNode();
        var data = _event.data;
        let prevText = this.getValue('server-message');

        let nextText,cdate;

        switch( _event.subject ){
          case "work_start":
            cdate = new Date(data.time).toLocaleString();

            nextText = prevText + '\n<span class="text-gray">' + cdate + '</span> - [WorkStart] '+ data.work_name;
            break;
          case "work_progress":
            cdate = new Date(data.time).toLocaleString();

            nextText = prevText + '\n<span class="text-gray">' + cdate + '</span> - [WorkProgress] '+ data.work_name + ' : ' + data.messege;
            break;
          case "work_finish":
            cdate = new Date(data.time).toLocaleString();

            nextText = prevText + '\n<span class="text-gray">' + cdate + '</span> - [WorkFinish] '+ data.work_name;
            break;
          default :
            nextText = prevText + '\n<span class="text-gray">' + new Date().toLocaleString() + '</span> - '+ JSON.stringify(_event.data);
        }

        this.setValue('server-message', nextText);
        this.update();

        dom.scrollTop = dom.scrollHeight;
      }
      </script>
      <span en-type='string' en-enableHtml>{{: val@server-message }}</span>
  </pre>
  <!-- /.box-body -->
</div>
