<div class="box box-default" >
  <en:value name='server-message' type='string' value=''></en:value>
  <div class="box-header with-border">
    <i class="fa fa-plane"></i>

    <h2 class="box-title"> Console </h2>
  </div>

  <!-- /.box-header -->
  <pre class="box-body bg-black"  en-io-on='{{: prop@listen-names }}' en-event-io-received='{{ func@update_message( feature@event ) }}'
            style='width:100%;max-width:100%; max-height:500px; overflow:auto;'>
      <script type='text/x-javascript' en-scope-type='function' name='update_message'>
      return function(_event){
        var dom = this.getDOMNode();

        this.setValue('server-message', this.getValue('server-message') + '\n<span class="text-gray">' + new Date().toLocaleString() + '</span> - '+ _event.data.line );
        this.update();

        dom.scrollTop = dom.scrollHeight;
      }
      </script>
      <span en-type='string' en-enableHtml>{{: val@server-message }}</span>
  </pre>
  <!-- /.box-body -->
</div>
