<!--@FragmentMeta
{
  "scripts":[

  ],
  "css":[

  ]
}
@FragmentMetaEnd-->

<div class="container">
  <div class="default-style faq">
    <h2>Frequently Asked Questions</h2>

        <div class="tabs vertical-tabs">
          <div class="row">
              <div class="col-sm-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class=""><a href="#faq-1" role="tab" data-toggle="tab" aria-controls="faq-1" aria-expanded="false">General</a></li>
                        <li role="presentation" class="active"><a href="#faq-2" role="tab" data-toggle="tab" aria-controls="faq-2" aria-expanded="true">Shipping</a></li>
                        <li role="presentation" class=""><a href="#faq-3" role="tab" data-toggle="tab" aria-controls="faq-3" aria-expanded="false">Reclamation</a></li>
                        <li role="presentation" class=""><a href="#faq-4" role="tab" data-toggle="tab" aria-controls="faq-4" aria-expanded="false">Category 4</a></li>
                        <li role="presentation" class=""><a href="#faq-5" role="tab" data-toggle="tab" aria-controls="faq-5" aria-expanded="false">Category 5</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="faq-1">

                            <div class="panel-group" id="faq-1-accordion" role="tablist" aria-multiselectable="true">

                                <!-- QUESTION - START -->
                                <div class="panel panel-primary">
                                  <div class="panel-heading" role="tab">
                                      <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faq-1-accordion" href="#faq-1-q-1" aria-expanded="true" aria-controls="faq-1-q-1">Lorem ipsum Question #1</a></h4>
                                  </div>
                                  <div id="faq-1-q-1" class="panel-collapse collapse in" role="tabpanel">
                                      <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
                                      </div>
                                  </div>
                                </div>
                                <!-- QUESTION - END -->

                                <!-- QUESTION - START -->
                                <div class="panel panel-primary">
                                  <div class="panel-heading" role="tab">
                                      <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-1-accordion" href="#faq-1-q-2" aria-expanded="false" aria-controls="faq-1-q-2">Question #2</a></h4>
                                  </div>
                                  <div id="faq-1-q-2" class="panel-collapse collapse" role="tabpanel">
                                      <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
                                      </div>
                                  </div>
                                </div>
                                <!-- QUESTION - END -->

                                <!-- QUESTION - START -->
                                <div class="panel panel-primary">
                                  <div class="panel-heading" role="tab">
                                      <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-1-accordion" href="#faq-1-q-3" aria-expanded="false" aria-controls="faq-1-q-3">Question #3</a></h4>
                                  </div>
                                  <div id="faq-1-q-3" class="panel-collapse collapse" role="tabpanel">
                                      <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
                                      </div>
                                  </div>
                                </div>
                                <!-- QUESTION - END -->

                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane active in" id="faq-2">

                            <div class="panel-group" id="faq-2-accordion" role="tablist" aria-multiselectable="true">

                                <!-- QUESTION - START -->
                                <div class="panel panel-primary">
                                  <div class="panel-heading" role="tab">
                                      <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faq-2-accordion" href="#faq-2-q-1" aria-expanded="true" aria-controls="faq-2-q-1">Question #1</a></h4>
                                  </div>
                                  <div id="faq-2-q-1" class="panel-collapse collapse in" role="tabpanel">
                                      <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
                                      </div>
                                  </div>
                                </div>
                                <!-- QUESTION - END -->

                                <!-- QUESTION - START -->
                                <div class="panel panel-primary">
                                  <div class="panel-heading" role="tab">
                                      <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-2-accordion" href="#faq-2-q-2" aria-expanded="false" aria-controls="faq-2-q-2">Question #2</a></h4>
                                  </div>
                                  <div id="faq-2-q-2" class="panel-collapse collapse" role="tabpanel">
                                      <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
                                      </div>
                                  </div>
                                </div>
                                <!-- QUESTION - END -->

                                <!-- QUESTION - START -->
                                <div class="panel panel-primary">
                                  <div class="panel-heading" role="tab">
                                      <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-2-accordion" href="#faq-2-q-3" aria-expanded="false" aria-controls="faq-2-q-3">Question #3</a></h4>
                                  </div>
                                  <div id="faq-2-q-3" class="panel-collapse collapse" role="tabpanel">
                                      <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
                                      </div>
                                  </div>
                                </div>
                                <!-- QUESTION - END -->

                                <!-- QUESTION - START -->
                                <div class="panel panel-default">
                                  <div class="panel-heading" role="tab">
                                      <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-2-accordion" href="#faq-2-q-4" aria-expanded="false" aria-controls="faq-2-q-4">Question #4</a></h4>
                                  </div>
                                  <div id="faq-2-q-4" class="panel-collapse collapse" role="tabpanel">
                                      <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
                                      </div>
                                  </div>
                                </div>
                                <!-- QUESTION - END -->

                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="faq-3">

                            <div class="panel-group" id="faq-3-accordion" role="tablist" aria-multiselectable="true">

                                <!-- QUESTION - START -->
                                <div class="panel panel-primary">
                                  <div class="panel-heading" role="tab">
                                      <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faq-3-accordion" href="#faq-3-q-1" aria-expanded="true" aria-controls="faq-3-q-1">Lorem ipsum Question #1</a></h4>
                                  </div>
                                  <div id="faq-3-q-1" class="panel-collapse collapse in" role="tabpanel">
                                      <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
                                      </div>
                                  </div>
                                </div>
                                <!-- QUESTION - END -->

                                <!-- QUESTION - START -->
                                <div class="panel panel-primary">
                                  <div class="panel-heading" role="tab">
                                      <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-3-accordion" href="#faq-3-q-2" aria-expanded="false" aria-controls="faq-3-q-2">Question #2</a></h4>
                                  </div>
                                  <div id="faq-3-q-2" class="panel-collapse collapse" role="tabpanel">
                                      <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
                                      </div>
                                  </div>
                                </div>
                                <!-- QUESTION - END -->

                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="faq-4">
                          Category 4 - Empty
                        </div>

                        <div role="tabpanel" class="tab-pane" id="faq-5">
                          Category 5 - Empty
                        </div>

                    </div>
                </div>
            </div>
        </div>

  </div>


  <div en-id='tab-container' tab-count='5' tab-current='{{0}}'>

    <ul en-id='tab-head'>
      <li en-ctrl-repeat-n='{{en-attr@tab-count}}' en-event-click="task@click">
        <en:task name='click' action='attr-to' arg-eid='tab-container' arg-name='tab-current' arg-value='{{String(en@repeat-n)}}' chain-success='refresh' ></en:task>
        <en:task name='refresh' action='refresh-to' arg-eid='tab-container'></en:task>
        Tab  {{en@repeat-n}}
      </li>
    </ul>

    <div en-id='tab-body'>
      <div en-ctrl-repeat-n='{{en-attr@tab-count}}'>

        <div  en-ctrl-hidden='{{en@repeat-n == en-attr@tab-current ? false :true }}'>
            <code>{{ en@repeat-n == parseInt(en-attr@tab-current) }}
              Body {{en@repeat-n}}</code>
        </div>
      </div>
    </div>
  </div>
</div>
<div>

  {{ shortcut.if_then(false, '참') }}


  <div class="panel-group" en-id='panel-container2' data-opened='-1'>
    <div class="panel panel-primary" en-ctrl-repeat-n='5'>
      <div class="panel-heading" role="tab" en-event-click='task@forward'>
        <en:task name='forward' action='attr-to' arg-eid='panel-container2' arg-name='data-opened' arg-value='{{en@repeat-n == en-attr@data-opened? -1:en@repeat-n}}' chain-success='refresh'></en:task>
        <en:task name='refresh' action='refresh-to' arg-eid='panel-container2'></en:task>
        <h4 class="panel-title"><a role="button" data-toggle="collapse" aria-expanded="true">Lorem ipsum Question #1</a></h4>
      </div>

      <div id="faq-3-q-1" class="panel-collapse collapse {{ en@repeat-n == en-attr@data-opened ? 'in':''}}" role="tabpanel">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
          Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.
        </div>
      </div>
    </div>
  </div>
</div>
