.APISourcePalette
{
    overflow: auto;
    //

    width: 100%;
    height: 100%;

    background-color: #171a20;
    .api-source-list-wrapper
    {
        //

        > ul
        {
            > li
            {
                padding: 0 5px 5px 5px;

                > .source-title
                {
                    box-sizing: border-box;
                    /* width: 100%; */
                    height: 30px;
                    padding-left: 10px;

                    cursor: pointer;
                    transition: all .3s;

                    color: #d6d6d6;
                    border-radius: 10px;
                    background-color: #272727;
                    box-shadow: inset 0 0 10px #505152;
                    text-shadow: 0 0 7px #02122d;

                    > span
                    {
                        font-size: 14px;

                        height: 11px;

                        vertical-align: middle;
                    }

                    &:before
                    {
                        display: inline-block;

                        width: 0;
                        height: 100%;

                        content: ' ';
                        vertical-align: middle;
                    }

                    &:hover
                    {
                        background-color: #3a60a2;
                        box-shadow: inset 0 0 10px #23385f;
                    }

                    &.active
                    {
                        border-radius: 10px 10px 0 0;
                        background-color: #0d9aa9;
                    }
                }

                > .source-requests-display
                {
                    padding: 5px;

                    border-radius: 0 0 10px 10px;
                    background-color: #fff;

                    .request
                    {
                        box-sizing: border-box;
                        width: 100%;
                        margin-bottom: 5px;
                        padding: 5px;

                        color: #4c4c4c;
                        border-radius: 5px;
                        background-color: #e0e0e0;


                        &:last-child
                        {
                            margin: 0;
                        }
                    }
                }
            }
        }

        ul,
        li
        {
            line-height: 1;

            margin: 0;
            padding: 0;
        }
    }
}
