.APISourcePalette
{
    overflow: auto;
    //

    width: 100%;
    height: 100%;

    background-color: #30363e;
    .api-source-list-wrapper
    {
        //

        > ul
        {
            > li
            {
                border-bottom: 1px solid #b1d2fd;

                > .source-title
                {
                    box-sizing: border-box;
                    height: 30px;
                    padding-left: 10px;

                    cursor: pointer;
                    transition: all .3s;

                    color: #fff;
                    background-color: #3479d3;
                    > span
                    {
                        font-size: 14px;

                        height: 11px;

                        vertical-align: middle;
                    }

                    &:before
                    {
                        display: inline-block;

                        width: 0;
                        height: 100%;

                        content: ' ';
                        vertical-align: middle;
                    }

                    &:hover
                    {
                        background-color: #1051bb;
                    }

                    &.active
                    {
                        //border-radius: 10px 10px 0 0;
                    }
                }

                > .source-requests-display
                {
                    box-sizing: border-box;

                    color: #cecece;
                    border-top: 0;
                    > .loading
                    {
                        font-size: 15px;

                        width: 100%;
                        padding: 15px;
                    }

                    .request
                    {
                        .head
                        {
                            font-family: 'Open Sans';

                            overflow: hidden;

                            box-sizing: border-box;
                            width: 100%;
                            height: 30px;
                            padding-left: 15px;

                            cursor: pointer;
                            transition: all .2s;

                            color: #cecece;
                            border-bottom: 1px solid #5486c7;
                            background-color: #1f5090;

                            *
                            {
                                vertical-align: middle;
                            }

                            &:hover
                            {
                                color: #eee;
                                background-color: #2759bd;
                            }

                            &.active
                            {
                                color: #fff;
                                background-color: #2759bd;
                            }



                            &:before
                            {
                                display: inline-block;

                                width: 0;
                                height: 100%;

                                content: ' ';
                                vertical-align: middle;
                            }

                            &:last-child
                            {
                                border-bottom: 0;
                            }
                        }

                        .data-frame
                        {
                            .loading
                            {
                                font-size: 15px;

                                box-sizing: border-box;
                                width: 100%;
                                padding: 15px;
                            }

                            ul
                            {
                                box-sizing: border-box;
                                //



                                > li
                                {
                                    background-color: rgba(255,255,255,.2);
                                    //
                                    .item
                                    {
                                        display: inline-block;

                                        width: 100%;
                                        max-width: 100%;

                                        > .key
                                        {
                                            display: table-cell;

                                            box-sizing: border-box;
                                            height: 25px;
                                            padding: 5px;

                                            vertical-align: middle;
                                        }

                                        > .value
                                        {
                                            display: table-cell;
                                            overflow: hidden;

                                            box-sizing: border-box;
                                            height: 25px;
                                            padding: 5px;

                                            vertical-align: middle;
                                            word-break: break-all;

                                            > .wrapper
                                            {
                                                display: inline-block;
                                                overflow: hidden;

                                                height: 15px;

                                                vertical-align: middle;
                                            }
                                        }

                                        > .indent
                                        {
                                            position: relative;

                                            display: table-cell;

                                            width: 15px;
                                            height: 10px;

                                            // &.guide
                                            // {
                                            //     &::before
                                            //     {
                                            //         position: absolute;
                                            //         left: 7.5px;
                                            //
                                            //         display: inline-block;
                                            //
                                            //         height: 100%;
                                            //
                                            //         content: ' ';
                                            //
                                            //         border-left: 1px solid #fff;
                                            //     }
                                            //     &::after
                                            //     {
                                            //         position: absolute;
                                            //         top: 13.5px;
                                            //         left: 7.5px;
                                            //
                                            //         display: inline-block;
                                            //
                                            //         width: 50%;
                                            //
                                            //         content: ' ';
                                            //
                                            //         border-bottom: 1px solid #fff;
                                            //     }
                                            // }
                                        }


                                        > :first-child
                                        {
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                        }

                                        > :last-child
                                        {
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                        }

                                        &:hover
                                        {
                                            background-color: #5486c7;
                                        }
                                    }

                                    &.number
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #fff;
                                            }
                                        }
                                    }

                                    &.string
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #fff;
                                                > .wrapper
                                                {
                                                    &:before
                                                    {
                                                        content: '"';
                                                    }
                                                    &:after
                                                    {
                                                        content: '"';
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &.boolean
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #fff;
                                            }
                                        }
                                    }

                                    &.array
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #fff;
                                                &:before
                                                {
                                                    content: '[';
                                                }
                                                &:after
                                                {
                                                    content: ']';
                                                }
                                            }
                                        }
                                    }

                                    &.object
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #fff;

                                                &:before
                                                {
                                                    content: '{';
                                                }
                                                &:after
                                                {
                                                    content: '}';
                                                }
                                            }
                                        }
                                    }


                                    // &:last-child
                                    // {
                                    //     //
                                    //     .item
                                    //     {
                                    //         > .indent.guide
                                    //         {
                                    //             &::before
                                    //             {
                                    //                 height: 50%;
                                    //             }
                                    //         }
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
                }
            }
        }

        ul,
        li
        {
            line-height: 1;

            margin: 0;
            padding: 0;
        }
    }
}
