.APISourcePalette
{
    overflow: auto;
    //

    width: 100%;
    height: 100%;

    background-color: #171a20;
    .api-source-list-wrapper
    {
        //

        > ul
        {
            > li
            {
                padding: 0 5px 5px 5px;

                > .source-title
                {
                    box-sizing: border-box;
                    /* width: 100%; */
                    height: 30px;
                    padding-left: 10px;

                    cursor: pointer;
                    transition: all .3s;

                    color: #d6d6d6;
                    border-radius: 10px;
                    background-color: #272727;
                    box-shadow: inset 0 0 10px #505152;
                    text-shadow: 0 0 7px #02122d;

                    > span
                    {
                        font-size: 14px;

                        height: 11px;

                        vertical-align: middle;
                    }

                    &:before
                    {
                        display: inline-block;

                        width: 0;
                        height: 100%;

                        content: ' ';
                        vertical-align: middle;
                    }

                    &:hover
                    {
                        background-color: #3a60a2;
                        box-shadow: inset 0 0 10px #23385f;
                    }

                    &.active
                    {
                        border-radius: 10px 10px 0 0;
                        background-color: #0d9aa9;
                    }
                }

                > .source-requests-display
                {
                    box-sizing: border-box;
                    padding: 5px;

                    color: #cecece;
                    border: 1px solid #3b676d;
                    border-top: 0;
                    border-radius: 0 0 10px 10px;

                    .request
                    {
                        margin-bottom: 5px;

                        .head
                        {
                            font-family: fantasy;

                            box-sizing: border-box;
                            width: 100%;
                            padding: 5px;

                            cursor: pointer;
                            transition: all .2s;

                            color: #cecece;
                            border: 1px solid #3a3d43;
                            border-radius: 10px;
                            background: #3b3e44;
                            box-shadow: inset 0 3px 10px rgba(0, 0, 0, .47);
                            text-shadow: 0 1px 1px #040404;
                            &:hover
                            {
                                color: #ffe400;
                                background-color: #315cb3;
                            }

                            &.active
                            {
                                color: #ffef00;
                                background-color: #085dde;
                            }
                        }

                        .data-frame
                        {
                            padding: 10px 0 0 10px;
                            .loading
                            {
                                font-family: fantasy;
                            }

                            ul
                            {
                                box-sizing: border-box;
                                //
                                padding-left: 15px;

                                li
                                {
                                    //
                                    .item
                                    {
                                        display: inline-block;

                                        max-width: 100%;
                                        margin: 3px;

                                        > .key
                                        {
                                            display: table-cell;

                                            box-sizing: border-box;
                                            height: 25px;
                                            padding: 5px;

                                            vertical-align: middle;

                                            color: #fff;
                                            background-color: #20457d;
                                        }

                                        > .value
                                        {
                                            display: table-cell;
                                            overflow: hidden;

                                            box-sizing: border-box;
                                            height: 25px;
                                            padding: 5px;

                                            vertical-align: middle;
                                            word-break: break-all;

                                            color: #6b5112;
                                            background-color: #eae3d2;
                                            > .wrapper
                                            {
                                                display: inline-block;
                                                overflow: hidden;

                                                height: 15px;

                                                vertical-align: middle;
                                            }
                                        }




                                        > :first-child
                                        {
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                        }

                                        > :last-child
                                        {
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                        }
                                    }

                                    &.number
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #6b5112;
                                            }
                                        }
                                    }

                                    &.string
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #6b5112;
                                                > .wrapper
                                                {
                                                    &:before
                                                    {
                                                        content: '"';
                                                    }
                                                    &:after
                                                    {
                                                        content: '"';
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &.boolean
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #6b5112;
                                            }
                                        }
                                    }

                                    &.array
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #6b5112;
                                                &:before
                                                {
                                                    content: '[';
                                                }
                                                &:after
                                                {
                                                    content: ']';
                                                }
                                            }
                                        }
                                    }

                                    &.object
                                    {
                                        > .item
                                        {
                                            > .value
                                            {
                                                color: #6b5112;

                                                &:before
                                                {
                                                    content: '{';
                                                }
                                                &:after
                                                {
                                                    content: '}';
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &:last-child
                        {
                            margin: 0;
                        }
                    }
                }
            }
        }

        ul,
        li
        {
            line-height: 1;

            margin: 0;
            padding: 0;
        }
    }
}
