.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.FoldableContainerWithHeader {
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
  position: relative;

  &.red {
    > .header {
      color: #fff;
      background-color: rgba(200, 50, 10, 1);

      background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);
      background-image: -o-linear-gradient(top, #d9534f 0, #c12e2a 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
      background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

      > .toggle {
        color: rgba(255, 200, 200, 1);
      }
    }

  }

  &.gray {
    > .header {
      color: #fff;
      background-color: rgba(50, 50, 50, 1);

      background-image: -webkit-linear-gradient(top, #545454 0, #2A2A2A 100%);
      background-image: -o-linear-gradient(top, #545454 0, #2A2A2A 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#2A2A2A));
      background-image: linear-gradient(to bottom, #545454 0, #2A2A2A 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454ff', endColorstr='#2A2A2Aff', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

      > .toggle {
        color: rgba(255, 255, 255, 0.7);
      }
    }

  }

  > .header {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
    font-size: 12px;
    height: 22px;

    .noselect;
    cursor: default;

    > .toggle {
      box-sizing: border-box;
      position: absolute;
      right: 0px;
      top: 0px;

      width: 22px;
      height: 22px;
      padding: 5px 5px;

      cursor: pointer;
    }
  }

  > .body {
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
}