.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.StatusDisplayBox {
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
  position: relative;

  &.white-background {
    &.red {

      > .dashboard-wrapper {

        > .dashboard {

          > .led {
            background-image: -webkit-linear-gradient(top, #3C0808 0, #FF342E 100%);
            background-image: -o-linear-gradient(top, #3C0808 0, #FF342E 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#3C0808), to(#FF342E));
            background-image: linear-gradient(to bottom, #3C0808 0, #FF342E 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C0808', endColorstr='#FF342E', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

            box-shadow: inset 0 0 10px rgba(255, 0, 0, 1);
            color: #fff;
          }
        }
      }

    }
  }

  > .dashboard-wrapper {

    > .dashboard {

      > .led {

        &.red {
          background-image: -webkit-linear-gradient(top, #3C0808 0, #FF342E 100%);
          background-image: -o-linear-gradient(top, #3C0808 0, #FF342E 100%);
          background-image: -webkit-gradient(linear, left top, left bottom, from(#3C0808), to(#FF342E));
          background-image: linear-gradient(to bottom, #3C0808 0, #FF342E 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C0808', endColorstr='#FF342E', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

          box-shadow: inset 0 0 10px rgba(255, 0, 0, 1);
        }
      }
    }
  }



  > .dashboard-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;

    background-color: #222;

    > .dashboard {
      position: relative;
      box-sizing: border-box;
      width:100%;
      font-size:12px;
      height: 40px;

      border-radius: 5px;

      > .led-light {
        position: absolute;
        left:5px;
        top:5px;

        width:30px;
        height:30px;
        box-sizing: border-box;
        padding:7.5px;
        z-index: 1;

        > .led {
          width:15px;
          height:15px;
          border-radius:15px;


        }
      }

      > .tag {
        position: absolute;
        left:5px;
        top:5px;

        box-sizing: border-box;
        width:100%;
        padding: 8px;
        padding-left:40px;
        z-index: 0;

        font-size: 14px;

        color:#fff;

        &.red { color:rgba(250,10,10,1); }

        &.green { color:rgba(10,250,10,1); }

        &.blue { color:rgba(200,200,255,1); }

        &.yellow{ color:rgba(255,255,73,1); }

        &.white { color:rgba(250,250,250,1); }
      }



    }
  }
}



.led-red {
  width: 15px;
  height: 15px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-o-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}

.led-yellow {
  width: 15px;
  height: 15px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
  /**/
}

@-webkit-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}
@keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}

.led-green {
  width: 15px;
  height: 15px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
  width: 15px;
  height: 15px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}