<!DOCTYPE html>
<html>
  <head>
    <title>
      Hello
    </title>
  </head>
  <body>
      <%= message %>
      <%= error.status %>
      <pre>
        <%= error.stack %>
      </pre>
  </body>
</html>
