<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Error</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="/service-static/index/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/service-static/index/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/service-static/index/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/service-static/index/assets/css/ie9.css" /><![endif]-->

    <!-- Scripts -->
			<!--[if lte IE 8]><script src="/service-static/index/assets/js/ie/respond.min.js"></script><![endif]-->
			<!-- <script src="/service-static/index/assets/js/main.js"></script> -->

		<style>
		.error-wrap {
/*font-size: 100px;
margin-top: calc(50vh - 70px);*/
position: relative;
text-align: center;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 50px;
font-weight: normal;
height: 70px;
}
.error-wrap p {
font-size: 25px;
position: absolute;
width: 100%;
top: 130px;
line-height: 34px;
}
.error-wrap a {
color: rgba(255, 255, 255, 0.9);
}

.error {
/*text-align: center;*/
/*width: 100%;*/
position: absolute;
top: 0;
}
.error:nth-child(2) {
margin-left: 1px;
text-shadow: -1px 0 rgba(255, 0, 0, 0.4);
background: url(../img/bg.jpg);
background-size: cover;
background-position: fixed;
overflow: hidden;
clip: rect(0, 900px, 0, 0);
-webkit-animation: noise-anim 2s infinite linear alternate-reverse;
				animation: noise-anim 2s infinite linear alternate-reverse;
z-index: 10;
}
.error:nth-child(3) {
margin-left: -1px;
text-shadow: -1px 0 rgba(0, 0, 255, 0.4);
background: url(../img/bg.jpg);
background-size: cover;
background-position: fixed;
overflow: hidden;
clip: rect(0, 900px, 0, 0);
-webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
				animation: noise-anim-2 3s infinite linear alternate-reverse;
z-index: 10;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(28px, 9999px, 50px, 0);
  }
  5% {
    clip: rect(93px, 9999px, 76px, 0);
  }
  10% {
    clip: rect(2px, 9999px, 60px, 0);
  }
  15.0% {
    clip: rect(8px, 9999px, 47px, 0);
  }
  20% {
    clip: rect(87px, 9999px, 97px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 45px, 0);
  }
  30.0% {
    clip: rect(25px, 9999px, 25px, 0);
  }
  35% {
    clip: rect(39px, 9999px, 66px, 0);
  }
  40% {
    clip: rect(95px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(28px, 9999px, 3px, 0);
  }
  50% {
    clip: rect(11px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(63px, 9999px, 9px, 0);
  }
  60.0% {
    clip: rect(19px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(34px, 9999px, 30px, 0);
  }
  70% {
    clip: rect(78px, 9999px, 15px, 0);
  }
  75% {
    clip: rect(19px, 9999px, 40px, 0);
  }
  80% {
    clip: rect(41px, 9999px, 53px, 0);
  }
  85.0% {
    clip: rect(80px, 9999px, 23px, 0);
  }
  90% {
    clip: rect(76px, 9999px, 94px, 0);
  }
  95% {
    clip: rect(21px, 9999px, 28px, 0);
  }
  100% {
    clip: rect(27px, 9999px, 22px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(28px, 9999px, 50px, 0);
  }
  5% {
    clip: rect(93px, 9999px, 76px, 0);
  }
  10% {
    clip: rect(2px, 9999px, 60px, 0);
  }
  15.0% {
    clip: rect(8px, 9999px, 47px, 0);
  }
  20% {
    clip: rect(87px, 9999px, 97px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 45px, 0);
  }
  30.0% {
    clip: rect(25px, 9999px, 25px, 0);
  }
  35% {
    clip: rect(39px, 9999px, 66px, 0);
  }
  40% {
    clip: rect(95px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(28px, 9999px, 3px, 0);
  }
  50% {
    clip: rect(11px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(63px, 9999px, 9px, 0);
  }
  60.0% {
    clip: rect(19px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(34px, 9999px, 30px, 0);
  }
  70% {
    clip: rect(78px, 9999px, 15px, 0);
  }
  75% {
    clip: rect(19px, 9999px, 40px, 0);
  }
  80% {
    clip: rect(41px, 9999px, 53px, 0);
  }
  85.0% {
    clip: rect(80px, 9999px, 23px, 0);
  }
  90% {
    clip: rect(76px, 9999px, 94px, 0);
  }
  95% {
    clip: rect(21px, 9999px, 28px, 0);
  }
  100% {
    clip: rect(27px, 9999px, 22px, 0);
  }
}

		</style>
	</head>
	<body >

		<!-- Header -->
		<div class='error-wrap'>
			<div class='error'>
				Error
			</div>
			<div class='error'>
				Error
			</div>
			<div class='error'>
				Error
			</div>
			<div class='error'>
				Error
			</div>
		</div>

		<header id="header">
		 <%= error.status %> <%= message %>
		</header>


		<div>

      <pre>
        <%= error.stack %>
      </pre>

		</div>


		<footer id="footer">

			<ul class="copyright">
				<li>&copy; Untitled.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>


    <!--[if lte IE 8]><script src="/service-static/index/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/service-static/index/assets/js/main.js"></script>
	</body>
</html>
