.behavior-column
{
    position: relative;

    > .outline-container
    {
        position: absolute;

        width: 100%;
        height: 100%;

        > .outline
        {
            position: absolute;

            transition: all .3s;

            background-color: rgba(42, 87, 154, .48);
            &.left
            {
                top: 5px;
                bottom: 5px;
                left: 0;

                width: 5px;

                &:hover
                {
                    width: 20px;
                }
            }
            &.right
            {
                top: 5px;
                right: 0;
                bottom: 5px;

                width: 5px;

                &:hover
                {
                    width: 20px;
                }
            }
            &.top
            {
                top: 0;
                left: 0;

                width: 100%;
                height: 5px;
            }

            &.bottom
            {
                bottom: 0;
                left: 0;

                width: 100%;
                height: 5px;
            }

            &.activable
            {
                cursor: pointer;
                animation-name: blink-column;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }
}

@keyframes blink-column
{
    from
    {
        background-color: rgba(42, 87, 154, .48);
    }

    to
    {
        background-color: rgba(141, 184, 249, .48);
    }
}
