@import '../CommonSnippet';

@HeadHeight:0px;
@FootHeight:35px;

.ComponentPalette
{
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;

    > .wrapper
    {
        position: relative;

        height: 100%;

        > .head
        {
            font-size: 12px;

            position: relative;
            top: 0;

            display: none;
            overflow: hidden;

            box-sizing: border-box;
            width: 100%;
            height: @HeadHeight;
            padding: 5px;
        }


        > .body
        {
            position: absolute;
            top: @HeadHeight;
            bottom: @FootHeight;

            overflow: auto;

            box-sizing: border-box;
            width: 100%;


            > .previewer-area
            {
                width: 100%;
                height: 100px;
            }

            > .package-list-area
            {
                > ul.package-list
                {
                    margin: 0;
                    padding: 0;

                    list-style-type: none;

                    text-align: justify;

                    > li.package
                    {
                        > label
                        {
                            font-size: 13px;

                            display: block;

                            box-sizing: border-box;
                            width: 100%;
                            padding: 5px;
                        }

                        > ul
                        {
                            margin: 0;
                            padding: 0;

                            > li
                            {
                                font-size: 12px;

                                display: inline-block;

                                box-sizing: border-box;
                                padding: 5px;

                                cursor: pointer;
                                text-align: justify;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }

        > .foot
        {
            position: absolute;
            bottom: 0;

            width: 100%;
            height: @FootHeight;

            text-align: right;
        }
    }


    &.black
    {
        background-color: rgba(0,0,0,.5);

        > .wrapper
        {
            > .head
            {
                background-color: #0d0d0d;

                .noselect;
            }

            > .body
            {
                border-top-color: #ccc;
                border-bottom-color: #ccc;
            }

            > .foot
            {
                background-color: #0d0d0d;
            }
        }
    }


    &.theme-scott-mc-carthy
    {
        background-color: rgb(242,242,242);

        > .wrapper
        {
            > .head
            {
                //
            }

            > .body
            {
                border-top-color: #ccc;
                border-bottom-color: #ccc;

                > .previewer-area
                {
                    //
                }

                > .package-list-area
                {
                    > ul.package-list
                    {
                        > li.package
                        {
                            > label
                            {
                                color: rgb(242,242,242);
                                background-color: rgb(206, 70, 36);
                            }

                            > ul
                            {
                                > li
                                {
                                    &:nth-child(even)
                                    {
                                        color: #fff;
                                        border-color: rgb(182, 206, 216);
                                        background-color: rgb(86, 126, 157);

                                        &:hover
                                        {
                                            background-color: rgb(106, 146, 177);
                                        }
                                    }

                                    &:nth-child(odd)
                                    {
                                        color: #333;
                                        border-color: rgb(86, 126, 157);
                                        background-color: rgb(182, 206, 216);

                                        &:hover
                                        {
                                            background-color: rgb(162, 186, 196);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > .foot
            {
                //
            }
        }
    }




    /* Width Type */
}

.componentDragHolder
{
    width: 50px;
    height: 50px;

    background-color: white;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size: 50px 50px;
}
