.wrapper
{
    position: relative;

    width: 100%;
    height: 1000px;

    background-color: #eee;
}

.wrapper > .head
{
    font-size: 16px;

    position: absolute;
    top: 0;

    width: 100%;
    height: 100px;

    text-align: center;

    color: #fff;
    background-color: rgb(86,126,157);
}

.wrapper > .body
{
    position: absolute;
    top: 100px;
    bottom: 100px;

    overflow: auto;

    width: 100%;

    background-color: rgb(182,201,216);;
}

.wrapper > .footer
{
    font-size: 12px;

    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 30px;

    text-align: center;

    color: #333;
    background-color: rgb(242,242,242);
}


.testIn
{
    width: 100px;
    height: 100px;

    background-color: #123;
}
