.CheckBox
{
    display: inline-block;

    width: 20px;
    height: 20px;

    text-align: center;

    background-color: white;

    i
    {
        vertical-align: middle;
    }

    &:before
    {
        display: inline-block;

        width: 0;
        height: 100%;

        content: ' ';
        vertical-align: middle;
    }
}
