.ICafeResultTable
{
    //
    width: 100%;
    .wrapper
    {
        .header
        {
            font-family: 'Open Sans';

            position: relative;

            width: 100%;
            height: 40px;

            text-align: center;

            background-color: #ebecec;
            &::before
            {
                position: relative;

                display: inline-block;

                width: 0;
                height: 100%;

                content: ' ';
                vertical-align: middle;
            }

            .text-wrapper
            {
                font-size: 16px;

                display: inline-block;

                height: 17px;

                vertical-align: middle;

                > small
                {
                    padding: 10px;

                    color: #3980b5;
                }
            }
        }

        .body
        {
            overflow: auto;

            table
            {
                overflow: auto;

                width: 100%;

                border-spacing: 0;

                > thead
                {
                    > tr
                    {
                        background-color: #fcfcfc;
                        th
                        {
                            font-family: 'Open Sans';
                            font-size: 13px;
                            font-weight: normal;

                            padding: 5px;

                            color: #626f80;
                            border-right: 1px solid #a0a0a0;
                            border-bottom: 2px solid #2196f3;

                            &:last-child
                            {
                                border-right: 0;
                            }
                            small
                            {
                                color: #90bddd;
                            }
                        }
                    }
                }

                > tbody
                {
                    > tr
                    {
                        color: #62729a;
                        background-color: #cbcdd0;
                        td
                        {
                            font-size: 13px;

                            padding: 5px;
                            //

                            border-right: 1px solid #a0a0a0;



                            &:last-child
                            {
                                border-right: 0;
                            }

                            > .hidden
                            {
                                display: none;
                            }

                            &:hover
                            {
                                > .hidden
                                {
                                    display: inline-block;
                                }
                            }

                            code
                            {
                                font-family: monospace;
                                font-weight: bold;

                                margin-left: 3px;
                                padding: 3px;

                                color: #0b4fab;
                                border-radius: 5px;
                                background-color: #fff;
                            }
                        }

                        &:hover
                        {
                            color: #fff;
                            background-color: #2f3133;
                        }

                        &:nth-child(even)
                        {
                            background-color: #e9e9e9;
                            &:hover
                            {
                                background-color: #2a2f35;
                            }
                        }
                    }
                }
            }
        }


        .foot
        {
            width: 100%;

            text-align: center;

            .pagenation
            {
                display: inline-block;

                margin: 5px;

                button
                {
                    font-size: 12px;

                    height: 31px;

                    &.current
                    {
                        background-color: #1a3d84;
                    }
                }
            }
        }
    }

    pre
    {
        word-break: break-word;
    }
}
