<!--@FragmentMeta
{
  "scripts":[

  ],
  "css":[

  ]
}
@FragmentMetaEnd-->

<div en-id='asda12sdasdasdasdasd'>

  <div en-id='dance-wrapper'>
    <en:value name='x' type='number' value='10'></en:value>

    <button en-event-click='task@run'>
      <en:task name='run' action='loop' arg-fps="{{<< 30}}" chain-next='sum'></en:task>
      <en:task name='sum' action='set' arg-name='x' arg-value='{{<< val@x + 0.07 }}' chain-success='update'></en:task>
      <en:task name='update' action='refresh-to' arg-eid='dance-wrapper'></en:task>
      run
    </button>

    <div en-event-click='task@run'
          style='position:fixed; background-color:#{{<< parseInt(Math.random()*9) }}{{<< parseInt(Math.random()*9) }}{{<< parseInt(Math.random()*9) }};
                width:{{<< 100 + en@repeat-n + Math.sin(val@x)*50 }}px;
                height:{{<< 100 + en@repeat-n + Math.cos(val@x)*50 }}px;
                left:{{<< 300 + Math.sin(val@x + en@repeat-n * 0.01 )*300 }}px;
                top:{{<< 300 + Math.cos(val@x + en@repeat-n * 0.01)*300 }}px;'
          en-ctrl-repeat-n='70'>



      Hello
    </div>
  </div>

  <div en-id='dance-wrapper2'>
    <en:value name='x' type='number' value='10'></en:value>

    <button en-event-click='task@run'>
      <en:task name='run' action='loop' arg-fps="{{<< 30}}" chain-next='sum'></en:task>
      <en:task name='sum' action='set' arg-name='x' arg-value='{{<< val@x + 0.07 }}' chain-success='update'></en:task>
      <en:task name='update' action='update-to' arg-eid='dance-wrapper2'></en:task>
      run 2
    </button>

    <div en-event-click='task@run'
          style='position:fixed; background-color:#{{<< parseInt(Math.random()*9) }}{{<< parseInt(Math.random()*9) }}{{<< parseInt(Math.random()*9) }};
                width:{{<< 100 + en@repeat-n + Math.sin(val@x)*50 }}px;
                height:{{<< 100 + en@repeat-n + Math.cos(val@x)*50 }}px;
                left:{{<< Math.random()*1600 }}px;
                top:{{<< Math.random()*768  }}px;'
          en-ctrl-repeat-n='50'>



      Hello
    </div>
  </div>

  <!-- <div en-event-click='task@run' style='position:fixed; background-color:#{{<< parseInt(Math.random()*9) }}{{<< parseInt(Math.random()*9) }}{{<< parseInt(Math.random()*9) }}; width:100px; height:100px; left:{{<< 300 + Math.sin(val@x)*300 }}px; top:{{<< 300 + Math.cos(val@x)*300 }}px;' en-ctrl-repeat-n='50'>
    <en:value name='x' type='number' value='10'></en:value>
    <en:task name='run' action='loop' arg-fps="{{<< 60}}" chain-next='move'></en:task>
    <en:task name='move' action='set' arg-name='x' arg-value='{{<< val@x + 0.03 }}' chain-success='update'></en:task>
    <en:task name='update' action='update'></en:task>

    Hello
  </div> -->

  <svg width="100" height="100">
   <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
   Sorry, your browser does not support inline SVG.
</svg>

  Hello, I'm index fragment22222
  <div en-id='pw-field-warpper' validate='false'>
		<en:task name='input' action='input-value-upsync' chain-success='validate'></en:task>
		<en:task name='validate' action='input-value-validate' arg-type='password' chain-pass='success-validate' chain-fail='fail-validate'></en:task>
		<en:task name='success-validate' action='attr-to' arg-eid='pw-field-warpper' arg-name='validate' arg-value='true' chain-success='refresh'></en:task>
		<en:task name='fail-validate' action='attr-to' arg-eid='pw-field-warpper' arg-name='validate' arg-value='false' chain-success='refresh'></en:task>
		<en:task name='refresh' action='update-to' arg-eid='pw-field-warpper'></en:task>

		<input type="password" class="itx-bd" name="" id="memberPassword" title="비밀번호 입력" en-event-keyup='task@input'>
		<span class="tip">
			영문, 숫자, 특수문자를 혼합하여 8~15자로 사용 합니다.(! @ # $ % ^ * ? _ ~)

			{{<< en-attr@validate:boolean ? '사용 가능 한 비밀번호 입니다.':'사용 할 수 없는 비밀번호 입니다.'}}
		</span>
	</div>

  <div en-type='ref' en-ref-type='Fragment' en-ref-target-id='sub1/test' test='{{<< true}}'>
    <en:param name='test' type='string' value='{{<< en-attr@test}}'></en:param>

  </div>

  <div en-id='asdasd12asdasdasdasd' class='list'>
    <ul en-id='asdasdasadasd2asdasdasd' class='list'>
      <li en-id='asdasdasd21asdasdasd' sample-array='{{[1,2,3,4]}}' en-ctrl-repeat-n='10' attr2='{{new Date()}}' en-event-click='task@change-attr'>
        <en:value name='test-val' type='string' value='hello value'></en:value>
        <en:value name='test-object' type='object'>
          { "a":31, "b":{ "a":2 } }
        </en:value>
        <en:task name='test' action='test' arg-test='Hello'></en:task>
        <en:action name='test' param-test>
          alert(test);

          _actionResult.code = 'success';
          _callback(_actionResult);
        </en:action>

        <en:task name='change-attr' action='attr' arg-name='{{<< console.log( feature@event ) }} attr2' arg-value='hello' arg-taskChain='refresh'></en:task>
        <en:task name='refresh' action='refresh'></en:task>

        {{en-attr@attr2}}

        1+1 = \{{{1+1}}\}

        2+2 = {{2+2}} {{([1,2,3,4])[3]}}

        {{ $ervice.currency( ns@a ) }}

        {{  en-attr@sample-array[en@repeat-n] + 'aa'  }}

        {{val@test-val}}

        repeat {{en@repeat-n}}
        {{console.log(this)}}
        <div test='<p>ddddd<b>dddddddd</b></p><p><b><br></b></p><p><b>dfdfdfdfdfdf</b></p><p><b><br></b></p><p><b style="text-decoration: underline;">dfaweqfasfdwqerfgasfgaswf</b><u>werwqerqwerfqwesf</u><b><u>aswertqwegfwseag</u>weqtfqwegqwergqweg</b></p>'>
          <div en-type='string' en-enableHtml>
            {{<< en-attr@test }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
